In [1]:
# load data, split data and little check

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/race_result_horse.csv')
df_r = pd.read_csv('data/race_result_race.csv')

In [4]:
df.head()

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,running_position_1,running_position_2,running_position_3,running_position_4,finish_time,win_odds,running_position_5,running_position_6,race_id
0,1,1.0,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,1,-,1.0,2.0,2.0,1.0,1.22.33,3.8,NaN,NaN,2014-001
1,2,2.0,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,13,2,8.0,9.0,9.0,2.0,1.22.65,8,NaN,NaN,2014-001
2,3,10.0,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,3,2,2.0,1.0,1.0,3.0,1.22.66,5.7,NaN,NaN,2014-001
3,4,3.0,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,2,2,6.0,4.0,5.0,4.0,1.22.66,6.1,NaN,NaN,2014-001
4,5,7.0,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,9,4-1/4,9.0,10.0,10.0,5.0,1.23.02,6.1,NaN,NaN,2014-001

In [5]:
df_r.head()

,src,race_date,race_course,race_number,race_id,race_class,race_distance,track_condition,race_name,track,sectional_time,incident_report
0,20140914-1.html,2014-09-14,Sha Tin,1,2014-001,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",13.59 22.08 23.11 23.55,\n When about to enter the trac...
1,20140914-10.html,2014-09-14,Sha Tin,10,2014-010,Class 2,1400,GOOD TO FIRM,COTTON TREE HANDICAP,"TURF - ""A"" COURSE",13.55 22.25 22.89 22.85,\n SMART MAN was slow to begin....
2,20140914-2.html,2014-09-14,Sha Tin,2,2014-002,Class 5,1200,GOOD TO FIRM,TIM MEI HANDICAP,"TURF - ""A"" COURSE",24.06 22.25 23.66,\n ALLEY-OOP and FLYING KEEPER ...
3,20140914-3.html,2014-09-14,Sha Tin,3,2014-003,Class 1,1200,GOOD TO FIRM,THE HKSAR CHIEF EXECUTIVE'S CUP (HANDICAP),"TURF - ""A"" COURSE",23.42 22.48 22.47,"\n On arrival at the Start, it ..."
4,20140914-4.html,2014-09-14,Sha Tin,4,2014-004,Class 4,1200,GOOD TO FIRM,LUNG WUI HANDICAP,"TURF - ""A"" COURSE",24.00 22.62 22.64,\n Just prior to the start bein...

In [6]:
df.horse_name.value_counts()

horse_name
SWEET BEAN           51
ROCK THE TREE        50
INDUSTRIALIST WAY    47
ST YAZIN             47
ROBUST MOMENTUM      45
                     ..
LUCKY TIME            1
SHALLUCK              1
WINNING SUPREME       1
CALCULATION           1
MIGHTY BOY            1
Name: count, Length: 2162, dtype: int64

In [7]:
df.jockey.value_counts()

jockey
J Moreira     1995
K Teetan      1761
Z Purton      1651
D Whyte       1608
N Callan      1590
              ...
R Myers          1
C Perkins        1
D O'Brien        1
Y Kawada         1
R Curatolo       1
Name: count, Length: 106, dtype: int64

In [8]:
# combine both dataset

In [9]:
print(df.shape)
print(df_r.shape)

(30189, 19)
(2367, 12)

In [10]:
#merge
new_data = pd.merge(df, df_r, on='race_id', how ="inner")

In [11]:
new_data.shape

(30189, 30)

In [12]:
new_data.head()

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,...,race_date,race_course,race_number,race_class,race_distance,track_condition,race_name,track,sectional_time,incident_report
0,1,1.0,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,1,-,...,2014-09-14,Sha Tin,1,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",13.59 22.08 23.11 23.55,\n When about to enter the trac...
1,2,2.0,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,13,2,...,2014-09-14,Sha Tin,1,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",13.59 22.08 23.11 23.55,\n When about to enter the trac...
2,3,10.0,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,3,2,...,2014-09-14,Sha Tin,1,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",13.59 22.08 23.11 23.55,\n When about to enter the trac...
3,4,3.0,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,2,2,...,2014-09-14,Sha Tin,1,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",13.59 22.08 23.11 23.55,\n When about to enter the trac...
4,5,7.0,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,9,4-1/4,...,2014-09-14,Sha Tin,1,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",13.59 22.08 23.11 23.55,\n When about to enter the trac...

In [13]:
# Count occurrences of each horse_name
value_counts = new_data.horse_name.value_counts()

horse_name_count1 = (value_counts == 1).sum()
print(f"Number of horse_name with exactly 1 and occurrences: {horse_name_count1}")
horse_name_count = (value_counts == 2).sum()
print(f"Number of horse_name with exactly 2 and occurrences: {horse_name_count}")

Number of horse_name with exactly 1 and occurrences: 157
Number of horse_name with exactly 2 and occurrences: 117

In [14]:
# Step 1: Count occurrences of each horse_name
value_counts = new_data['horse_name'].value_counts()

# Step 2: Get horse_name values that occur less than or equal to 2 times
horse_names_with_less_than_or_equal_two = value_counts[value_counts <= 2].index

# Step 3: Filter the original DataFrame
filtered_data = new_data[new_data['horse_name'].isin(horse_names_with_less_than_or_equal_two)]

# Display or save the new DataFrame
filtered_data.head(10)

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,...,race_date,race_course,race_number,race_class,race_distance,track_condition,race_name,track,sectional_time,incident_report
11,12,14.0,LITTLE WIND,N306,C Y Lui,P F Yiu,107,1062,5,10-1/4,...,2014-09-14,Sha Tin,1,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",13.59 22.08 23.11 23.55,\n When about to enter the trac...
51,10,3.0,DIVINE TEN,P391,D Whyte,Y S Tsui,121,1193,7,6-1/4,...,2014-09-14,Sha Tin,3,Class 1,1200,GOOD TO FIRM,THE HKSAR CHIEF EXECUTIVE'S CUP (HANDICAP),"TURF - ""A"" COURSE",23.42 22.48 22.47,"\n On arrival at the Start, it ..."
79,13,4.0,EXAGGERATION,S226,B Prebble,J Moore,127,1141,4,8-1/2,...,2014-09-14,Sha Tin,5,Class 4,1000,GOOD TO FIRM,HARCOURT HANDICAP,"TURF - ""A"" COURSE",13.00 20.42 22.94,"\n As the start was effected, I..."
104,11,13.0,FULL OF FUN,P199,H W Lai,K W Lui,113,1202,3,7-1/2,...,2014-09-14,Sha Tin,7,Class 4,1400,GOOD TO FIRM,TAMAR HANDICAP,"TURF - ""A"" COURSE",13.75 22.11 23.99 23.09,\n CULTURAL CITY and HAPPY ROCK...
122,2,11.0,LONDON CHINA TOWN,L236,O Doleuze,C W Chang,120,1088,13,1-1/2,...,2014-09-14,Sha Tin,9,Class 2,1000,GOOD TO FIRM,ALBERT HANDICAP,"TURF - ""A"" COURSE",13.09 20.61 22.09,\n MY LITTLE FRIEND began awkwa...
130,10,9.0,CRACKERJACK,N446,C Y Ho,A T Millard,118,1075,7,6,...,2014-09-14,Sha Tin,9,Class 2,1000,GOOD TO FIRM,ALBERT HANDICAP,"TURF - ""A"" COURSE",13.09 20.61 22.09,\n MY LITTLE FRIEND began awkwa...
133,13,1.0,BUNDLE OF LOVE,N324,B Prebble,J Size,133,1211,1,7,...,2014-09-14,Sha Tin,9,Class 2,1000,GOOD TO FIRM,ALBERT HANDICAP,"TURF - ""A"" COURSE",13.09 20.61 22.09,\n MY LITTLE FRIEND began awkwa...
155,11,8.0,NINE DRAGONS,P138,B Prebble,K W Lui,125,1115,4,36-1/4,...,2014-09-17,Sha Tin,2,Class 5,1200,WET FAST,SOUTH BAY HANDICAP,ALL WEATHER TRACK,23.48 22.12 23.83,\n IT CAN ONLY BE YOU was slow ...
202,10,9.0,CHATER D'CAT,K119,B Prebble,D E Ferraris,120,1063,8,9,...,2014-09-17,Sha Tin,6,Class 4,1650,WET FAST,SHEK O HANDICAP,ALL WEATHER TRACK,28.25 23.86 24.34 23.19,\n HOXO began awkwardly and los...
274,WV-A,11.0,WINNING NINE,P393,C K Tong,T P Yung,114,1149,---,---,...,2014-09-21,Sha Tin,3,Class 4,1200,GOOD TO FIRM,THE YAN CHAI TROPHY (HANDICAP),"TURF - ""B+2"" COURSE",24.44 23.22 22.23,"\n WINNING NINE, which was frac..."

In [15]:
filtered_data.shape

(391, 30)

In [16]:
# we have 391 datapoints where horse race only 1's or twice in his career

In [17]:
# jockey

In [18]:
# Count occurrences of each jockey
value_counts = new_data.jockey.value_counts()

jockey_name_count1 = (value_counts == 1).sum()
print(f"Number of jockey_name with exactly 1 and occurrences: {jockey_name_count1}")
jockey_name_count2 = (value_counts == 2).sum()
print(f"Number of jockey_name with exactly 2 and occurrences: {jockey_name_count2}")

Number of jockey_name with exactly 1 and occurrences: 23
Number of jockey_name with exactly 2 and occurrences: 5

In [19]:
# Step 1: Count occurrences of each jockey
jockey_value_counts = new_data['jockey'].value_counts()

# Step 2: Get jockey values that occur less than or equal to 2 times
jockeys_with_less_than_or_equal_two = jockey_value_counts[jockey_value_counts <= 2].index

# Step 3: Filter the original DataFrame to create a new DataFrame
filtered_jockey_data = new_data[new_data['jockey'].isin(jockeys_with_less_than_or_equal_two)]

# Display or save the new DataFrame
print("Filtered DataFrame for jockey:")
filtered_jockey_data.head()

Filtered DataFrame for jockey:

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,...,race_date,race_course,race_number,race_class,race_distance,track_condition,race_name,track,sectional_time,incident_report
2968,5,3.0,CURREN MIROTIC,T616,K Ikezoe,O Hirata,126,1004,6,2-3/4,...,2014-12-14,Sha Tin,4,Group One,2400,GOOD TO FIRM,THE LONGINES HONG KONG VASE,"TURF - ""A"" COURSE",26.27 26.31 26.70 24.83 22.86 22.86,\n WAYFOONG EXPRESS was withdra...
2971,8,4.0,EMPOLI,T617,A de Vries,P Schiergen,126,1040,11,6-3/4,...,2014-12-14,Sha Tin,4,Group One,2400,GOOD TO FIRM,THE LONGINES HONG KONG VASE,"TURF - ""A"" COURSE",26.27 26.31 26.70 24.83 22.86 22.86,\n WAYFOONG EXPRESS was withdra...
2973,10,7.0,PARISH HALL,T618,K Manning,J S Bolger,126,1121,9,8-3/4,...,2014-12-14,Sha Tin,4,Group One,2400,GOOD TO FIRM,THE LONGINES HONG KONG VASE,"TURF - ""A"" COURSE",26.27 26.31 26.70 24.83 22.86 22.86,\n WAYFOONG EXPRESS was withdra...
2981,6,5.0,BUFFERING,T604,D Browne,R Heathcote,126,1131,8,3-3/4,...,2014-12-14,Sha Tin,5,Group One,1200,GOOD TO FIRM,THE LONGINES HONG KONG SPRINT,"TURF - ""A"" COURSE",23.36 22.31 22.90,"\n On arrival at the Start, STE..."
2983,8,7.0,SNOW DRAGON,T605,T Ono,N Takagi,126,1119,10,4-1/2,...,2014-12-14,Sha Tin,5,Group One,1200,GOOD TO FIRM,THE LONGINES HONG KONG SPRINT,"TURF - ""A"" COURSE",23.36 22.31 22.90,"\n On arrival at the Start, STE..."

In [20]:
filtered_jockey_data.shape

(33, 30)

In [21]:


# Merge the two filtered DataFrames (same columns)
merged_filtered_data = pd.concat([filtered_jockey_data, filtered_data], ignore_index=True)

# Remove duplicate rows if needed
merged_filtered_data = merged_filtered_data.drop_duplicates()

# Display or save the merged DataFrame
print("Merged DataFrame:")
merged_filtered_data.shape

Merged DataFrame:

(393, 30)

In [35]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30189 entries, 0 to 30188
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   finishing_position     30187 non-null  object
 1   horse_number           29851 non-null  float64
 2   horse_name             30189 non-null  object
 3   horse_id               30189 non-null  object
 4   jockey                 30189 non-null  object
 5   trainer                30189 non-null  object
 6   actual_weight          30189 non-null  object
 7   declared_horse_weight  30189 non-null  object
 8   draw                   30189 non-null  object
 9   length_behind_winner   30189 non-null  object
 10  running_position_1     29574 non-null  float64
 11  running_position_2     29560 non-null  float64
 12  running_position_3     29542 non-null  float64
 13  running_position_4     16618 non-null  float64
 14  finish_time            30189 non-null  object
 15  win_odds               30189 non-null  object
 16  running_position_5     3764 non-null   float64
 17  running_position_6     549 non-null    float64
 18  race_id                30189 non-null  object
 19  src                    30189 non-null  object
 20  race_date              30189 non-null  object
 21  race_course            30189 non-null  object
 22  race_number            30189 non-null  int64
 23  race_class             30189 non-null  object
 24  race_distance          30189 non-null  int64
 25  track_condition        30189 non-null  object
 26  race_name              30189 non-null  object
 27  track                  30189 non-null  object
 28  sectional_time         30189 non-null  object
 29  incident_report        30189 non-null  object
dtypes: float64(7), int64(2), object(21)
memory usage: 6.9+ MB

In [36]:
# Replace "1 DH" to "1", "2 DH" to "2", etc.
new_data['finishing_position'] = new_data['finishing_position'].replace({
    "1 DH": "1", "2 DH": "2", "3 DH": "3", "4 DH": "4",
    "5 DH": "5", "6 DH": "6", "7 DH": "7", "8 DH": "8",
    "9 DH": "9", "10 DH": "10", "11 DH": "11", "12 DH": "12"
})

In [38]:
new_data.replace("---","NaN",inplace=True)
new_data.replace("-","NaN",inplace=True)

In [43]:
#check missing values again
missing_data_check = new_data.isin(['NaN']) | new_data.isnull()

# Summarize missing values
missing_values_summary = missing_data_check.sum()

In [40]:
missing_values_summary

finishing_position           2
horse_number               338
horse_name                   0
horse_id                     0
jockey                      29
trainer                      0
actual_weight                2
declared_horse_weight      103
draw                       591
length_behind_winner      3042
running_position_1         615
running_position_2         629
running_position_3         647
running_position_4       13571
finish_time                669
win_odds                   591
running_position_5       26425
running_position_6       29640
race_id                      0
src                          0
race_date                    0
race_course                  0
race_number                  0
race_class                   0
race_distance                0
track_condition              0
race_name                    0
track                        0
sectional_time               0
incident_report              0
dtype: int64

In [41]:
# Drop rows in column where value is not a number
new_data = new_data[new_data['finishing_position'].isin([str(i) for i in range(1, 13)])].reset_index(drop=True)

In [44]:
missing_values_summary

finishing_position           0
horse_number                 0
horse_name                   0
horse_id                     0
jockey                       0
trainer                      0
actual_weight                0
declared_horse_weight        0
draw                         0
length_behind_winner      2373
running_position_1           0
running_position_2           0
running_position_3           0
running_position_4       12403
finish_time                  0
win_odds                     0
running_position_5       24160
running_position_6       27147
race_id                      0
src                          0
race_date                    0
race_course                  0
race_number                  0
race_class                   0
race_distance                0
track_condition              0
race_name                    0
track                        0
sectional_time               0
incident_report              0
dtype: int64

In [45]:
from sklearn.utils import shuffle
# Shuffle the dataset
shuffled_df = shuffle(new_data).reset_index(drop=True)

In [46]:
shuffled_df.head()

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,...,race_date,race_course,race_number,race_class,race_distance,track_condition,race_name,track,sectional_time,incident_report
0,7,8.0,GREAT TREASURE,T380,H W Lai,A Lee,123,989,13,4-3/4,...,2016-12-04,Sha Tin,7,Class 4,1400,GOOD TO FIRM,MIDDLE HANDICAP,"TURF - ""C+3"" COURSE",13.65 22.00 23.65 23.37,"\n When being saddled, it was n..."
1,9,12.0,EASTERN EXPRESS,T192,K Teetan,J Size,126,1126,5,6-1/4,...,2016-03-20,Sha Tin,9,Hong Kong Group One,2000,GOOD,THE BMW HONG KONG DERBY 2016,"TURF - ""A"" COURSE",25.79 23.63 25.24 24.21 22.89,\n After leaving the Parade Rin...
2,6,13.0,SUPER EURO STAR,V313,K K Chiong,C W Chang,110,1047,6,5-3/4,...,2017-05-13,Sha Tin,5,Class 4,1000,GOOD,THE SWAINE CUP (HANDICAP),"TURF - ""C"" COURSE",13.12 20.81 22.97,\n FIONNâS CITY was withdrawn...
3,2,11.0,SPICY SURE,T234,K C Leung,K L Man,117,1115,4,3,...,2015-04-07,Sha Tin,10,Class 3,1200,GOOD TO FIRM,SEVERN HANDICAP,"TURF - ""B+2"" COURSE",23.53 22.94 22.92,\n After being loaded into the ...
4,4,5.0,G-ONE BO BO,S374,J Moreira,J Size,129,1105,6,4,...,2015-02-15,Sha Tin,3,Class 4,1400,GOOD,ABSOLUTE CHAMPION HANDICAP,"TURF - ""A"" COURSE",13.61 21.86 24.12 23.79,\n MAGICAL BEAM was hampered sh...

In [33]:
#train_test split

In [47]:
from sklearn.model_selection import StratifiedShuffleSplit

# Define the stratified shuffle split
split = StratifiedShuffleSplit(n_splits=2, test_size=0.2, random_state=42)

# Perform the split
for train_index, test_index in split.split(shuffled_df, shuffled_df['finishing_position']):
    train_stratified = shuffled_df.iloc[train_index]
    test_stratified = shuffled_df.iloc[test_index]

# Check the sizes of the splits
print("Stratified Split:")
print(f"Training Size: {len(train_stratified)}, Testing Size: {len(test_stratified)}")

# Verify the distribution of the target variable in each set
print("\nOriginal Distribution:")
print(shuffled_df['finishing_position'].value_counts())

print("\nTraining Set Distribution:")
print(train_stratified['finishing_position'].value_counts())

print("\nTesting Set Distribution:")
print(test_stratified['finishing_position'].value_counts())

Stratified Split:
Training Size: 22148, Testing Size: 5538

Original Distribution:
finishing_position
4     2375
1     2373
3     2370
2     2368
6     2360
5     2359
7     2347
8     2341
9     2313
10    2268
11    2190
12    2022
Name: count, dtype: int64

Training Set Distribution:
finishing_position
4     1900
1     1898
3     1896
2     1894
6     1888
5     1887
7     1878
8     1873
9     1850
10    1814
11    1752
12    1618
Name: count, dtype: int64

Testing Set Distribution:
finishing_position
1     475
4     475
2     474
3     474
5     472
6     472
7     469
8     468
9     463
10    454
11    438
12    404
Name: count, dtype: int64

In [48]:
train_stratified.shape

(22148, 30)

In [50]:
merged_filtered_data.shape

(393, 30)

Add merged_filtered_data with train data

In [51]:
train_df = pd.concat([train_stratified, merged_filtered_data], ignore_index=True)
# Remove duplicate rows if needed
train_data = train_df.drop_duplicates()
train_data.shape

(22324, 30)

In [52]:
train_data.to_csv('./data/train.csv', index=False)
test_stratified.to_csv('./data/test.csv', index=False)